<div class="buy-now is-hidden" data-modal="order">
  <div class="modal-buy-now">
    <button class="modal-btn-buy" data-modal-close="order">
      <svg width="14" height="14">
        <use href="./images/icon.svg#close"></use>
      </svg>
    </button>
    <form class="buy-now-form" name="order_form">
      <h2 class="title text-center-sellers">
        <span class="orange">buy</span> now
      </h2>
      <div class="swiper our-products-swiper buy-now-margen">
        <ul class="our-products-list swiper-wrapper">
          <li
            class="our-products-item buy-now-our swiper-slide our-products-swiper-slide"
          >
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/order-buy/buy1_mob@1x.webp 1x,
                  ./images/order-buy/buy1_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/order-buy/buy1_mob@1x.png 1x,
                  ./images/order-buy/buy1_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./images/order-buy/buy1_mob@1x.png"
                alt="black chocolate"
                width="167"
                height="148"
                loading="lazy"
              />
            </picture>
            <span class="our-products-span buy-now-span">100 g</span>
          </li>
          <li
            class="our-products-item buy-now-our swiper-slide our-products-swiper-slide"
          >
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/order-buy/buy2_mob@1x.webp 1x,
                  ./images/order-buy/buy2_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/order-buy/buy2_mob@1x.png 1x,
                  ./images/order-buy/buy2_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./images/order-buy/buy2_mob@1x.png"
                alt="milk chocolate with nuts"
                width="167"
                height="148"
                loading="lazy"
              />
            </picture>
            <span class="our-products-span buy-now-span">200 g</span>
          </li>
          <li
            class="our-products-item buy-now-our swiper-slide our-products-swiper-slide"
          >
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/order-buy/buy3_mob@1x.webp 1x,
                  ./images/order-buy/buy3_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/order-buy/buy3_mob@1x.png 1x,
                  ./images/order-buy/buy3_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./images/order-buy/buy3_mob@1x.png"
                alt="milk chocolate with nuts"
                width="167"
                height="148"
                loading="lazy"
              />
            </picture>
            <span class="our-products-span buy-now-span">300 g</span>
          </li>
        </ul>
        <div class="swiper-pagination pt14"></div>
      </div>
      <div class="buy-now-package">
        <ul class="buy-now-list">
          <li class="buy-now-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/order-buy/buy1_desc-tab@1x.webp 1x,
                  ./images/order-buy/buy1_desc-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/order-buy/buy1_desc-tab@1x.png 1x,
                  ./images/order-buy/buy1_desc-tab@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="buy-now-img"
                src="./images/order-buy/buy1_desc-tab@1x.png"
                alt="black chocolate"
                width="120"
                height="107"
                loading="lazy"
              />
            </picture>
            <span class="buy-now-gram">100 g</span>
          </li>
          <li class="buy-now-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/order-buy/buy2_desc-tab@1x.webp 1x,
                  ./images/order-buy/buy2_desc-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/order-buy/buy2_desc-tab@1x.png 1x,
                  ./images/order-buy/buy2_desc-tab@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="buy-now-img"
                src="./images/order-buy/buy2_desc-tab@1x.png"
                alt="milk chocolate with nuts"
                width="120"
                height="107"
                loading="lazy"
              />
            </picture>
            <span class="buy-now-gram">200 g</span>
          </li>
          <li class="buy-now-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/order-buy/buy3_desc-tab@1x.webp 1x,
                  ./images/order-buy/buy3_desc-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/order-buy/buy3_desc-tab@1x.png 1x,
                  ./images/order-buy/buy3_desc-tab@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="buy-now-img"
                src="./images/order-buy/buy3_desc-tab@1x.png"
                alt="milk chocolate with nuts"
                width="120"
                height="107"
                loading="lazy"
              />
            </picture>
            <span class="buy-now-gram">300 g</span>
          </li>
        </ul>
      </div>

      <div class="modal-group">
        <label class="modal-label" for="order_name">Personal information</label>
        <div class="buy-now-box">
          <div class="input-wrapper mb-14">
            <input
              class="modal-input w264"
              type="text"
              name="order_name"
              id="order_name"
              placeholder="Name"
              pattern="[A-Za-zА-Яа-яЁё\s]+"
              required
              minlength="2"
              maxlength="15"
            />
          </div>
          <div class="input-wrapper">
            <input
              class="modal-input w264"
              type="text"
              name="order_surname"
              id="order_surname"
              placeholder="Surname"
              pattern="[A-Za-zА-Яа-яЁё\s]+"
              required
              minlength="2"
              maxlength="15"
            />
          </div>
        </div>
      </div>
      <div class="modal-group mt18">
        <label class="modal-label" for="email">Email</label>
        <div class="input-wrapper">
          <input
            class="modal-input"
            type="email"
            id="email"
            name="order_email"
            placeholder="Enter your email"
          />
        </div>
      </div>
      <div class="modal-group mt18">
        <label class="modal-label" for="tel">Phone number</label>
        <div class="input-wrapper now-tel now-tel-rw">
          <input
            class="modal-input now-tel"
            type="tel"
            name="order_tel"
            id="tel"
            required
            placeholder="Phone number"
          />
          <div class="buy-tel">
            <svg class="modal-icon" width="24" height="24">
              <use href="./images/icon.svg#ua"></use>
            </svg>
            <span>+380 </span>
          </div>
        </div>
      </div>
      <div class="modal-group mt18">
        <label class="modal-label" for="card">Card number</label>
        <div class="input-wrapper">
          <input
            class="modal-input"
            type="number"
            name="order_card"
            id="card"
            required
            placeholder="Enter card"
          />
          <svg class="now-card modal-icon" width="32" height="21">
            <use href="./images/icon.svg#mastercard"></use>
          </svg>
        </div>
      </div>
      <div class="modal-group mt18">
        <label class="modal-label" for="comment">Comment</label>
        <textarea
          class="modal-comments-now"
          name="order_comment"
          id="comment"
          rows="5"
          placeholder="Enter text"
        ></textarea>
      </div>

      <button class="sellers-button mt18" type="submit">Submit</button>
    </form>
  </div>
</div>
