<div class="backdrop is-hidden" buy-now-modal>
  <div class="">
    <button class="modal-btn" buy-now-modal-close>
      <svg width="8" height="8">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form class="modal-form">
      <h2 class="title text-center-sellers">
        <span class="orange">top</span> sellers
      </h2>
      <div class="swiper our-products-swiper">
        <ul class="our-products-list swiper-wrapper">
          <li class="our-products-item swiper-slide our-products-swiper-slide">
            <picture>
                <source
                  media="(min-width:1200 )"
                  srcset="
                    ./images/order-bor/boy1_desk-tab@1x.webp 1x,
                    ./images/order-bor/boy1_desk-tab@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width:1200 )"
                  srcset="
                    ./images/order-bor/boy1_desk-tab@1x.png 1x,
                    ./images/order-bor/boy1_desk-tab@2x.png 2x
                  "
                  type="image/png"
                />
                <source
                  media="(min-width:768 )"
                  srcset="
                    ./images/order-bor/boy1_desk-tab@1x.webp 1x,
                    ./images/order-bor/boy1_desk-tab@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width:768 )"
                  srcset="
                    ./images/order-bor/boy1_desk-tab@1x.png 1x,
                    ./images/order-bor/boy1_desk-tab@2x.png 2x
                  "
                  type="image/png"
                />
                <source
                  media="(max-width:767)"
                srcset="
                    ./images/order-bor/boy1_mob@1x.webp 1x,
                    ./images/order-bor/boy1_mob@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width:767)"
                  srcset="
                    ./images/order-bor/boy1_mob@1x.png 1x,
                    ./images/order-bor/boy1_mob@2x.png 2x
                  "
                  type="image/png"
                />
                <img
                  src="./images/order-buy/buy1_mob@1x.png"
                  alt="black chocolate"
                  width="167"
                />
            </picture>
            <span class="our-products-span">100 g</span>
          </li>
          <li class="our-products-item swiper-slide our-products-swiper-slide">
              <picture>
                <source
                  media="(min-width:1200 )"
                  srcset="
                    ./images/order-bor/boy2_desk-tab@1x.webp 1x,
                    ./images/order-bor/boy2_desk-tab@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width:1200 )"
                  srcset="
                    ./images/order-bor/boy2_desk-tab@1x.png 1x,
                    ./images/order-bor/boy2_desk-tab@2x.png 2x
                  "
                  type="image/png"
                />
                <source
                  media="(min-width:768 )"
                  srcset="
                    ./images/order-bor/boy2_desk-tab@1x.webp 1x,
                    ./images/order-bor/boy2_desk-tab@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width:768 )"
                  srcset="
                    ./images/order-bor/boy2_desk-tab@1x.png 1x,
                    ./images/order-bor/boy2_desk-tab@2x.png 2x
                  "
                  type="image/png"
                />
                <source
                  media="(max-width:767)"
                srcset="
                    ./images/order-bor/boy2_mob@1x.webp 1x,
                    ./images/order-bor/boy2_mob@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width:767)"
                  srcset="
                    ./images/order-bor/boy2_mob@1x.png 1x,
                    ./images/order-bor/boy2_mob@2x.png 2x
                  "
                  type="image/png"
                />
                <img
                  src="./images/order-buy/buy2_mob@1x.png"
                  alt="milk chocolate with nuts"
                  width="167"
                />
              </picture>
            <span class="our-products-span">100 g</span>
          </li>
          <li class="our-products-item swiper-slide our-products-swiper-slide">
            <picture>
            <source
              media="(min-width:1200 )"
              srcset="
                ./images/order-bor/boy3_desk-tab@1x.webp 1x,
                ./images/order-bor/boy3_desk-tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1200 )"
              srcset="
                ./images/order-bor/boy3_desk-tab@1x.png 1x,
                ./images/order-bor/boy3_desk-tab@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width:768 )"
              srcset="
                ./images/order-bor/boy3_desk-tab@1x.webp 1x,
                ./images/order-bor/boy3_desk-tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width:768 )"
              srcset="
                ./images/order-bor/boy3_desk-tab@1x.png 1x,
                ./images/order-bor/boy3_desk-tab@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width:767)"
            srcset="
                ./images/order-bor/boy3_mob@1x.webp 1x,
                ./images/order-bor/boy3_mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width:767)"
              srcset="
                ./images/order-bor/boy3_mob@1x.png 1x,
                ./images/order-bor/boy3_mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/order-buy/buy3_mob@1x.png"
              alt="milk chocolate"
              width="167"
            />
          </picture>
            <span class="our-products-span">100 g</span>
          </li>
        </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>



      <!-- <div class="modal-group">
        <label class="modal-label" for="name">Name</label>
        <div class="input-wrapper">
          <input class="modal-input" type="text" name="name" id="name" />
          <svg class="modal-icon" width="18" height="24">
            <use href="./images/icons.svg#icon-man"></use>
          </svg>
        </div>
      </div>
      <div class="modal-group">
        <label class="modal-label" for="tel">Phone</label>
        <div class="input-wrapper">
          <input class="modal-input" type="tel" name="tel" id="tel" />
          <svg class="modal-icon" width="18" height="24">
            <use href="./images/icons.svg#icon-tel"></use>
          </svg>
        </div>
      </div>
      <div class="modal-group">
        <label class="modal-label" for="email">Email</label>
        <div class="input-wrapper">
          <input class="modal-input" type="email" id="email" name="email" />
          <svg class="modal-icon" width="18" height="24">
            <use href="./images/icons.svg#icon-email"></use>
          </svg>
        </div>
      </div>
      <div class="modal-group">
        <label class="modal-label" for="comment">Comment</label>
        <textarea
          class="modal-comments"
          name="comment"
          id="comment"
          rows="5"
          placeholder="Text input"
        ></textarea>
      </div>
      <label class="modal-form-agreement">
        <input class="modal-form-checkbox visually-hidden" type="checkbox" />
        <svg class="modal-form-custom" width="16" height="16">
          <use class="chekoff" href="./images/icons.svg#icon-propertyoff"></use>
          <use class="chekon" href="./images/icons.svg#icon-propertyon"></use>
        </svg>
        <span class="modal-form-agreement-text">
          I accept the terms and conditions of the
          <a class="modal-form-agreement-link" href="#"> Privacy Policy </a>
        </span>
      </label>
      <button class="modal-form-btn hero-button" type="submit">Send</button> -->
    </form>
  </div>
</div>
