<div class="backdrop is-hidden" buy-now-modal>
  <div class="">
    <button class="modal-btn" buy-now-modal-close>
      <svg width="12" height="12">
        <use href="./images/icon.svg#close"></use>
      </svg>
    </button>
    <form class="modal-form">
      <h2 class="title text-center-sellers">
        <span class="orange">boy</span> now
      </h2>
      <div class="swiper our-products-swiper boy-naw-margen">
        <ul class="our-products-list swiper-wrapper">
          <li
            class="our-products-item boy-naw-our swiper-slide our-products-swiper-slide"
          >
            <picture>
              <source
                media="(min-width:1200 )"
                srcset="
                  ./images/order-bor/boy1_desk-tab@1x.webp 1x,
                  ./images/order-bor/boy1_desk-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:1200 )"
                srcset="
                  ./images/order-bor/boy1_desk-tab@1x.png 1x,
                  ./images/order-bor/boy1_desk-tab@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width:768 )"
                srcset="
                  ./images/order-bor/boy1_desk-tab@1x.webp 1x,
                  ./images/order-bor/boy1_desk-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:768 )"
                srcset="
                  ./images/order-bor/boy1_desk-tab@1x.png 1x,
                  ./images/order-bor/boy1_desk-tab@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width:767)"
                srcset="
                  ./images/order-bor/boy1_mob@1x.webp 1x,
                  ./images/order-bor/boy1_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width:767)"
                srcset="
                  ./images/order-bor/boy1_mob@1x.png 1x,
                  ./images/order-bor/boy1_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./images/order-buy/buy1_mob@1x.png"
                alt="black chocolate"
                width="167"
              />
            </picture>
            <span class="our-products-span boy-naw-span">100 g</span>
          </li>
          <li
            class="our-products-item boy-naw-our swiper-slide our-products-swiper-slide"
          >
            <picture>
              <source
                media="(min-width:1200 )"
                srcset="
                  ./images/order-bor/boy2_desk-tab@1x.webp 1x,
                  ./images/order-bor/boy2_desk-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:1200 )"
                srcset="
                  ./images/order-bor/boy2_desk-tab@1x.png 1x,
                  ./images/order-bor/boy2_desk-tab@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width:768 )"
                srcset="
                  ./images/order-bor/boy2_desk-tab@1x.webp 1x,
                  ./images/order-bor/boy2_desk-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:768 )"
                srcset="
                  ./images/order-bor/boy2_desk-tab@1x.png 1x,
                  ./images/order-bor/boy2_desk-tab@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width:767)"
                srcset="
                  ./images/order-bor/boy2_mob@1x.webp 1x,
                  ./images/order-bor/boy2_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width:767)"
                srcset="
                  ./images/order-bor/boy2_mob@1x.png 1x,
                  ./images/order-bor/boy2_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./images/order-buy/buy2_mob@1x.png"
                alt="milk chocolate with nuts"
                width="167"
              />
            </picture>
            <span class="our-products-span boy-naw-span">200 g</span>
          </li>
          <li
            class="our-products-item boy-naw-our swiper-slide our-products-swiper-slide"
          >
            <picture>
              <source
                media="(min-width:1200 )"
                srcset="
                  ./images/order-bor/boy3_desk-tab@1x.webp 1x,
                  ./images/order-bor/boy3_desk-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:1200 )"
                srcset="
                  ./images/order-bor/boy3_desk-tab@1x.png 1x,
                  ./images/order-bor/boy3_desk-tab@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width:768 )"
                srcset="
                  ./images/order-bor/boy3_desk-tab@1x.webp 1x,
                  ./images/order-bor/boy3_desk-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width:768 )"
                srcset="
                  ./images/order-bor/boy3_desk-tab@1x.png 1x,
                  ./images/order-bor/boy3_desk-tab@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width:767)"
                srcset="
                  ./images/order-bor/boy3_mob@1x.webp 1x,
                  ./images/order-bor/boy3_mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width:767)"
                srcset="
                  ./images/order-bor/boy3_mob@1x.png 1x,
                  ./images/order-bor/boy3_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./images/order-buy/buy3_mob@1x.png"
                alt="milk chocolate"
                width="167"
              />
            </picture>
            <span class="our-products-span boy-naw-span">300 g</span>
          </li>
        </ul>
        <div class="swiper-pagination bay-pagination"></div>
      </div>
      <div class="modal-group">
        <label class="modal-label" for="name">Personal information</label>
        <div class="input-wrapper mb-14">
          <input
            class="modal-input"
            type="text"
            name="name"
            id="name"
            placeholder="Name"
            required
            minlength="2"
          />
        </div>
        <div class="input-wrapper">
          <input
            class="modal-input"
            type="text"
            name="surname"
            id="surname"
            placeholder="Surname"
            required
            minlength="3"
          />
        </div>
      </div>
      <div class="modal-group mt18">
        <label class="modal-label" for="email">Email</label>
        <div class="input-wrapper">
          <input
            class="modal-input"
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
          />
        </div>
      </div>
      <div class="modal-group mt18">
        <label class="modal-label" for="tel">Phone number</label>
        <div class="input-wrapper naw-tel">
          <input
            class="modal-input naw-tel"
            type="tel"
            name="tel"
            id="tel"
            placeholder="Phone number"
          />
          <div class="buy-tel">
            <svg class="modal-icon" width="24" height="24">
              <use href="./images/icon.svg#ua"></use>
            </svg>
            <span>+380 </span>
          </div>
        </div>
      </div>
      <div class="modal-group mt18">
        <label class="modal-label" for="card">Card number</label>
        <div class="input-wrapper">
          <input
            class="modal-input"
            type="card"
            name="card"
            id="card"
            placeholder="Enter card"
          />
          <svg class="naw-card modal-icon" width="32" height="21">
            <use href="./images/icon.svg#mastercard"></use>
          </svg>
        </div>
      </div>
      <div class="modal-group">
        <label class="modal-label" for="comment">Comment</label>
        <textarea
          class="modal-comments"
          name="comment"
          id="comment"
          rows="5"
          placeholder="Text input"
        ></textarea>
      </div>
      <button class="sellers-button" type="button" data-modal-orange-open>
        Submit
      </button>
    </form>
  </div>
</div>
