<header class="header-page">
  <div class="container">
    <div class="header-container-row">
      <nav class="header-container-row">
        <a href="./index.html" class="header-logo">SIMPLY CHOCOLATE
          <svg class="header-svg-chocolate" width="24" height="24">
            <use href="../images/icon.svg#chocolate"></use>
          </svg>
        </a>
        <ul class="header-navigation header-links header-container-row">
          <li><a href="./index.html" class="header-text">Home</a></li>
          <li><a href="./index.html" class="header-text">How it&#96;s made?</a></li>
          <li><a href="./index.html" class="header-text">Our products</a></li>
          <li><a href="./index.html" class="header-text">Top sellers</a></li>
          <li><a href="./index.html" class="header-text">Chocolate is loved</a></li>
        </ul>
      </nav>
      <!-- <button class="menu-burger js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg width="24" height="24" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
        </svg>
      </button> -->
      <ul class="header-socials ">
        <li class="header-social-item header-container-row">
          <a href="#" class="header-social-link">
            <svg class="header-svg-social" width="24" height="24">
              <use href="../images/icon.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a href="#" class="header-social-link header-container-row">
            <svg class="header-svg-social" width="24" height="24">
              <use href="../images/icon.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>