<header class="header-page" id="header-anchor">
  <div class="container header-mb-burger">
    <div class="header-container-row heder-container-burger">
      <nav class="header-container-row">
        <a href="./index.html" class="header-logo">SIMPLY CHOCOLATE
          <svg class="header-svg-chocolate" aria-label="icon chocolate" width="24" height="24">
            <use href="./images/icon.svg#chocolate"></use>
          </svg>
        </a>
        <ul class="header-navigation header-links header-container-row">
          <li><a href="./index.html" class="header-text header-hover">Home</a></li>
          <li><a href="#how-its-made-anchor" class="header-text header-hover">How it&#96;s made?</a></li>
          <li><a href="#our-products-anchor" class="header-text header-hover">Our products</a></li>
          <li><a href="#top-sellers-anchor" class="header-text header-hover">Top sellers</a></li>
          <li><a href="#reviews-anchor" class="header-text header-hover">Chocolate is loved</a></li>
        </ul>
      </nav>
      <button class="header-menu-burger header-menu-toggle js-open-menu" aria-expanded="false"
        aria-controls="mobile-menu">
        <svg width="28" height="28">
          <use href="./images/icon.svg#burger"></use>
        </svg>
      </button>

      <ul class="header-socials">
        <li class="header-social-item header-container-row">
          <a href="https://www.instagram.com/explore/tags/chocolatechipcookies/" class="header-social-link">
            <svg class="header-svg-social" aria-label="icon instagram" width="24" height="24">
              <use href="./images/icon.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a href="https://twitter.com/Lindt/status/826105211773140996/photo/1" class="header-social-link">
            <svg class="header-svg-social" aria-label="icon twitter" width="24" height="24">
              <use href="./images/icon.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- js close modal -->

  <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle js-close-menu mobile-close">
      <svg class="mobile-svg" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="8"
        height="8">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"></path>
      </svg>
    </button>

    <ul class="mobile-menu">
      <li class="mobile-item "><a href="" class="active-modal-mb">Studio</a></li>
      <li class="mobile-item"><a href="" class="link">Portfolio</a></li>
      <li class="mobile-item"><a href="" class="link">Contacts</a></li>
    </ul>
    <div>
      <ul class="mobile-contacts">
        <li><a href="tel:+110001111111" class="mobile-number">+11 (000) 111-11-11</a></li>
        <li><a href="mailto:info@devstudio.com" class="mobile-link">info@devstudio.com</a></li>
      </ul>
      <ul class="mobile-socials">
        <li><a href="_block" class="socials-link-footer">
            <svg class="svg-footer" width="24" height="24">
              <use href="./images/icons/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li><a href="_block" class="socials-link-footer">
            <svg class="svg-footer" width="24" height="24">
              <use href="./images/icons/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li><a href="_block" class="socials-link-footer">
            <svg class="svg-footer" width="24" height="24">
              <use href="./images/icons/sprite.svg#icon-facebook"></use>
            </svg>
          </a> </li>
        <li><a href="_block" class="socials-link-footer">
            <svg class="svg-footer" width="24" height="24">
              <use href="./images/icons/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <script src="./js/mobile-menu.js"></script>
</header>