<header class="header-page" id="header-anchor">
  <div class="container header-mb-burger">
    <div class="header-container-row heder-container-burger">
      <nav class="header-container-row">
        <a href="./index.html" class="header-logo">SIMPLY CHOCOLATE
          <svg class="header-svg-chocolate" aria-label="icon chocolate" width="24" height="24">
            <use href="./images/icon.svg#chocolate"></use>
          </svg>
        </a>
        <ul class="header-navigation header-links header-container-row">
          <li><a href="./index.html" class="header-text header-hover">Home</a>
          </li>
          <li><a href="#how-its-made-anchor" class="header-text header-hover">How it&#96;s made?</a></li>
          <li><a href="#our-products-anchor" class="header-text header-hover">Our products</a></li>
          <li><a href="#top-sellers-anchor" class="header-text header-hover">Top sellers</a></li>
          <li><a href="#reviews-anchor" class="header-text header-hover">Chocolate is loved</a></li>
        </ul>
      </nav>
      <button class="header-menu-burger header-menu-toggle js-header-open-menu" aria-expanded="false"
        aria-controls="header-mobile-menu">
        <svg width="28" height="28">
          <use href="./images/icon.svg#burger"></use>
        </svg>
      </button>

      <ul class="header-socials">
        <li class="header-social-item header-container-row">
          <a href="https://www.instagram.com/explore/tags/chocolatechipcookies/" target="_blank"
            rel="noopener noreferrer" class="header-social-link">
            <svg class="header-svg-social" aria-label="icon instagram" width="24" height="24">
              <use href="./images/icon.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a href="https://twitter.com/Lindt/status/826105211773140996/photo/1" target="_blank"
            rel="noopener noreferrer" class="header-social-link">
            <svg class="header-svg-social" aria-label="icon twitter" width="24" height="24">
              <use href="./images/icon.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- js close modal -->

  <div class="header-menu-container js-header-menu-container" id="header-mobile-menu">
    <button class="menu-toggle js-header-close-menu burger-mobile-close">
      <svg class="burger-close" width="28" height="28">
        <use href="./images/icon.svg#close"></use>
      </svg>
    </button>

    <ul class="mobile-menu">
      <li class="mobile-item "><a href="./index.html" class="burger-link">Home</a></li>
      <li class="mobile-item"><a href="#how-its-made-anchor" class="burger-link">How it&#96;s made?</a></li>
      <li class="mobile-item"><a href="#our-products-anchor" class="burger-link">Our products</a></li>
      <li class="mobile-item"><a href="#top-sellers-anchor" class="burger-link">Top sellers</a></li>
      <li class="mobile-item"><a href="#reviews-anchor" class="burger-link">Chocolate is loved</a></li>
    </ul>
    <div class="mb-soc-header">
      <ul class="mobile-socials-header">
        <li class=""><a href="https://www.instagram.com/explore/tags/chocolatechipcookies/" target="_blank"
            rel="noopener noreferrer" class="mb-social-icon">
            <svg class="inst-mb" aria-label="icon instagram" width="22" height="22">
              <use href="./images/icon.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-item"><a href="https://twitter.com/Lindt/status/826105211773140996/photo/1" target="_blank"
            rel="noopener noreferrer" class="mb-social-icon">
            <svg class="inst-mb" aria-label="icon twitter" width="22" height="22">
              <use href="./images/icon.svg#twitter"></use>
            </svg>
          </a>
        </li>
        </li>
      </ul>
    </div>
</header>