<section class="hero-image hero-container section">
    <div class="container hero-div">
        <h1 class="visually-hidden">Hero</h1>
        <p class="hero-title">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</p>
        <a href="#"><button type="button" class="hero-button-buy" data-modal-open>Buy now</button></a>
        <a href="#"><button type="button" class="hero-button-now" data-modal-open>How it&#96;s made</button></a>
        <!-- <button type="button"><a href="#">scroll down <svg class="hero-scroll-svg" width="28" height="28">
                    <use href="></use>
                </svg> </a></button> -->
    </div>
</section>