<section class="hero-image hero-container section">
  <div class="container hero-div">
    <h1 class="visually-hidden">Hero</h1>
    <p class="hero-title">
      Treat yourself or a loved one <br />
      to our finest ingredients for a<br />moment of pure delight!
    </p>
    <div class="hero-button">
      <button type="button" class="hero-button-buy" buy-now-header-modal-open>
        Buy now
      </button>
      <a href="#how-its-made-anchor" class="hero-button-now"
        >How it&#96;s made</a
      >
    </div>
    <!-- <button type="button"><a href="">scroll down <svg class="hero-scroll-svg" width="28" height="28">
                    <use href="></use>
                </svg> </a></button> -->
  </div>
</section>
