<section class="section">
    <div class="conteiner ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jtHuq5G8h_s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div>
            <h2>Try  our chocolates today and discover the perfect balance of flavor</h2>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</section>