<div class="backdrop-review is-hidden" data-modal-review>
    <div class="modal-review">
        <button class="review-btn" data-modal-review-close>
            <svg class="btn-icon" stroke="black" width="22" height="22">
                <use href="./images/icon.svg#close"></use>
              </svg>
        </button>
        <div class="modal-form-review">
            <h2 class="modal-title title">LEAVE A REVIEW ABOUT <span>OUR CHOCOLATE</span></h2>
            <form class="form"> 
                  <input class="input" type="text" name="username" placeholder="Name" required />
                  <input class="input" type="text" name="email" placeholder="Email" required />
                   <input class="input phone" type="tel" name="phone_number" placeholder="Phone number" 
                   required maxlength="9"/>
                   <div class="review-tel line-rw"> 
                     <svg class="phone-icon" width="32" height="24" aria-label="ua"> 
                        <use href="./images/icon.svg#ua"></use>
                     </svg>
                     <span class="cod-review">+380</span>
                   </div>
                 <textarea class="textarea" name="feedback" rows="5" placeholder="Enter text"></textarea>
                 <button class="btn-send" type="submit" data-modal-orange-second-open>Send</button>
                </form> 
            </form>
        </div>
    </div>
</div>