<div class="backdrop is-hidden">
    <div class="modal">
        <button class="modal-btn">
            <svg class="btn-icon" stroke="black" width="28" height="28">
                <use href="./images/icon.svg#close"></use>
              </svg>
        </button>
        <div class="modal-form">
            <h2 class="modal-title title">LEAVE A REVIEW ABOUT <span>OUR CHOCOLATE</span></h2>
            <form class="form"> 
                  <input class="input" type="text" name="username" placeholder="Name"/>
                  <input class="input" type="text" name="email" placeholder="Email" />
                   <input class="input" type="tel" name="phone_number" placeholder="Phone number"/>
                 <textarea class="textarea" name="feedback" rows="5" placeholder="Enter text"></textarea>
               </form> 
            <button class="btn-submit" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>