<section class="section our-products-section" id="our-products">
  <div class="container our-products-container">
    <h2 class="title our-products-title">Our <span class="title-orange-color">pRODUCTS</span></h2>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="item swiper-slide">
          <img src="../images/our-products/bar1@1x.jpg" alt="orange chocolate" />
          <h3 class="our-products-subtitle">orange</h3>
          <p class="our-products-desc">Dark chocolate</p>
          <span class="our-products-span">45 UAH</span>
        </li>
        <li class="item swiper-slide">
          <img src="../images/our-products/bar2@1x.jpg" alt="APPLE&CRANBERRY chocolate" />
          <h3 class="our-products-subtitle">APPLE&CRANBERRY</h3>
          <p class="our-products-desc">Milk chocolate</p>
          <span class="our-products-span">50 UAH</span>
        </li>
        <li class="item swiper-slide">
          <img src="../images/our-products/bar3@1x.jpg" alt="lime&sea salt chocolate" />
          <h3 class="our-products-subtitle">lime&sea salt</h3>
          <p class="our-products-desc">Dark chocolate</p>
          <span class="our-products-span">66 UAH</span>
        </li>
        <li class="item swiper-slide">
          <img src="../images/our-products/bar4@1x.jpg" alt="pineapple chocolate" />
          <h3 class="our-products-subtitle">pineapple</h3>
          <p class="our-products-desc">Dark chocolate</p>
          <span class="our-products-span">54 UAH</span>
        </li>
        <li class="item swiper-slide">
          <img src="../images/our-products/bar5@1x.jpg" alt="Classic chocolate" />
          <h3 class="our-products-subtitle">Classic</h3>
          <p class="our-products-desc">Milk chocolate</p>
          <span class="our-products-span">45 UAH</span>
        </li>
        <li class="item swiper-slide">
          <img src="../images/our-products/bar6@1x.jpg" alt="honey chocolate" />
          <h3 class="our-products-subtitle">honey</h3>
          <p class="our-products-desc">Milk chocolate</p>
          <span class="our-products-span">50 UAH</span>
        </li>
        <li class="item swiper-slide">
          <img src="../images/our-products/bar7@1x.jpg" alt="Roasted fruits chocolate" />
          <h3 class="our-products-subtitle">Roasted fruits</h3>
          <p class="our-products-desc">Dark chocolate</p>
          <span class="our-products-span">66 UAH</span>
        </li>
        <li class="item swiper-slide">
          <img src="../images/our-products/bar8@1x.jpg" alt="Classic chocolate" />
          <h3 class="our-products-subtitle">Classic</h3>
          <p class="our-products-desc">White chocolate</p>
          <span class="our-products-span">54 UAH</span>
        </li>
       
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
