<!-- Our products section -->
    <!-- <section class="section our-products-section">
      <div class="container">
        <h2 class="title">Our pRODUCTS</h2>
        <ul class="list our-products-list">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <li class="item our-products-item">
                  <a href="">
                    <img src="./images/image-8.jpg" alt="" />
                    <h3 class="subtitle">orange</h3>
                    <p>Dark chocolate</p>
                  </a>
                  <button class="button">45 UAH</button>
                </li>
              </div>
              <div class="swiper-slide">
              <li class="item our-products-item">
                <a href="">
                  <img src="./images/image-9.jpg" alt="" />
                  <h3 class="subtitle">orange</h3>
                  <p>Dark chocolate</p>
                </a>
                <button class="button">45 UAH</button>
              </li>
            </div>
              <div class="swiper-slide">
              <li class="item our-products-item">
                <a href="">
                  <img src="./images/image-10.jpg" alt="" />
                  <h3 class="subtitle">orange</h3>
                  <p>Dark chocolate</p>
                </a>
                <button class="button">45 UAH</button>
              </li>
            </div>
              <div class="swiper-slide">
              <li class="item our-products-item">
                <a href="">
                  <img src="./images/image-11.jpg" alt="" />
                  <h3 class="subtitle">orange</h3>
                  <p>Dark chocolate</p>
                </a>
                <button class="button">45 UAH</button>
              </li>
            </div>
            </div>
          </div>
        </ul>
      </div>
    </section> -->