<section class="section our-products-section">
  <div class="container our-products-container">
    <h2 class="title our-products-title">Our <span class="title-orange-color">pRODUCTS</span></h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="../img/our-products/bar1@1x.jpg" alt="orange chocolate" />
          <h3 class="our-products-subtitle">orange</h3>
          <p class="our-products-desc">Dark chocolate</p>
          <span class="our-products-span">45 UAH</span>
        </div>
        <div class="swiper-slide">
          <li class="item our-products-item">
            <a href="">
              <img src="./images/image-9.jpg" alt="" />
              <h3 class="subtitle">orange</h3>
              <p>Dark chocolate</p>
            </a>
            <button class="button">45 UAH</button>
          </li>
        </div>
        <div class="swiper-slide">
          <li class="item our-products-item">
            <a href="">
              <img src="./images/image-10.jpg" alt="" />
              <h3 class="subtitle">orange</h3>
              <p>Dark chocolate</p>
            </a>
            <button class="button">45 UAH</button>
          </li>
        </div>
        <div class="swiper-slide">
          <li class="item our-products-item">
            <a href="">
              <img src="./images/image-11.jpg" alt="" />
              <h3 class="subtitle">orange</h3>
              <p>Dark chocolate</p>
            </a>
            <button class="button">45 UAH</button>
          </li>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
