<!-- <div class="backdrop-orange">
  <div class="modal-orange">
    <button class="orange-btn" type="button">
      <svg class="svg-modal-orange">
        <use href="../images/icon.svg#close"></use>
      </svg>
    </button>
    <div class="modal-orange-all-text">
      <p class="modal-orange-subtitle">thank you!</p>
      <p class="modal-orange-text">
        We are glad that you ordered our chocolate and we are giving you a
        <span class="modal-orange-wrapper">20%</span>
        discount on all our products.
      </p>
    </div>
    <picture>
      <source
        srcset="
          ../images/pop-up/choco_mob@1x.webp 1x,
          ../images/pop-up/choco_mob@2x.webp 2x,
          ../images/pop-up/choco_mob@1x.avif 1x,
          ../images/pop-up/choco_mob@2x.avif 2x,
          ../images/pop-up/choco_mob@1x.png  1x,
          ../images/pop-up/choco_mob@2x.png  2x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ../images/pop-up/choco_desc-tab@1x.webp 1x,
          ../images/pop-up/choco_desc-tab@2x.webp 2x,
          ../images/pop-up/choco_desc-tab@1x.avif 1x,
          ../images/pop-up/choco_desc-tab@2x.avif 2x,
          ../images/pop-up/choco_desc-tab@1x.png  1x,
          ../images/pop-up/choco_desc-tab@2x.png  2x
        "
        media="(min-width: 768px)"
      />
      <img
        class="modal-orange-img"
        src="../images/pop-up/choco_mob@1x.png"
        alt=""
      />
    </picture>
  </div>
</div> -->
