<section class="reviews">
    <div class="container">
        <h2 class="reviews-title title">
            <span>chocolate</span> is loved
        </h2>
        <ul class="reviews-list">
            <li class="reviews-item">
                <img src="" alt="" class="reviews-photo">
                <h3 class="reviews-subtitle">Victoria Dobrzhanska</h3>
                <p class="reviews-text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
            </li>
            <li class="reviews-item">
                <img src="" alt="" class="reviews-photo">
                <h3 class="reviews-subtitle">Nazar Babenko</h3>
                <p class="reviews-text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
            </li>
            <li class="reviews-item">
                <img src="" alt="" class="reviews-photo">
                <h3 class="reviews-subtitle">Olena Kampusch</h3>
                <p class="reviews-text"> Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p>
            </li>
            <li class="reviews-item">
                <img src="" alt="" class="reviews-photo">
                <h3 class="reviews-subtitle">Natalia Sus</h3>
                <p class="reviews-text">The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness level. </p>
            </li>
            <li class="reviews-item">
                <img src="" alt="" class="reviews-photo">
                <h3 class="reviews-subtitle">Danilo Nottingham</h3>
                <p class="reviews-text">This is delicious. It so rich and flavorful you don’t need to use as many. I love topping an apple with almond butter and these chips for a snack.</p>
            </li>
            <li class="reviews-item">
                <img src="" alt="" class="reviews-photo">
                <h3 class="reviews-subtitle">Irina Tydnyuk</h3>
                <p class="reviews-text">This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world class :)</p>
            </li>
        </ul>
        <button class="button review-button">
            Leave  a review
        </button>
    </div>
</section>