<section class="reviews" id="reviews">
  <div class="container reviews-container">
      <h2 class="reviews-title title">
          <span class="title-orange-color">chocolate</span> is loved
      </h2>
      <div class="swiper reviews-swiper">
          <ul class="reviews-list swiper-wrapper">
              <li class="reviews-item swiper-slide reviews-swiper-slide">
                  <picture class="reviews-photo">
                      <source
                      srcset="./images/reviews/rev1@1x.avif 1x,
                              ./images/reviews/rev1@2x.avif 2x,"
                      type="image/avif">
                      <source
                      srcset="./images/reviews/rev1@1x.webp 1x,
                              ./images/reviews/rev1@2x.webp 2x,"
                      type="image/webp">
                      <source
                      srcset="./images/reviews/rev1@1x.png 1x,
                              ./images/reviews/rev1@2x.png 2x,"
                      type="image/png">
                      <img
                      src="./images/reviews/rev1@1x.png"
                      alt="photo Victoria"
                      width="80" height="80"
                      loading="lazy">
                  </picture>
                  <div class="item-wrap">
                      <h3 class="reviews-subtitle">Victoria Dobrzhanska</h3>
                      <p class="reviews-text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
                  </div>
              </li>
              <li class="reviews-item swiper-slide reviews-swiper-slide">
                  <picture class="reviews-photo">
                      <source
                      srcset="./images/reviews/rev2@1x.avif 1x,
                              ./images/reviews/rev2@2x.avif 2x,"
                      type="image/avif">
                      <source
                      srcset="./images/reviews/rev2@1x.webp 1x,
                              ./images/reviews/rev2@2x.webp 2x,"
                      type="image/webp">
                      <source
                      srcset="./images/reviews/rev2@1x.png 1x,
                              ./images/reviews/rev2@2x.png 2x,"
                      type="image/png">
                      <img
                      src="./images/reviews/rev2@1x.png"
                      alt="photo Nazar"
                      width="80" height="80"
                      loading="lazy">
                  </picture>
                  <div class="item-wrap">
                      <h3 class="reviews-subtitle">Nazar Babenko</h3>
                      <p class="reviews-text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
                  </div>
              </li>
              <li class="reviews-item swiper-slide reviews-swiper-slide">
                  <picture class="reviews-photo">
                      <source
                      srcset="./images/reviews/rev3@1x.avif 1x,
                              ./images/reviews/rev3@2x.avif 2x,"
                      type="image/avif">
                      <source
                      srcset="./images/reviews/rev3@1x.webp 1x,
                              ./images/reviews/rev3@2x.webp 2x,"
                      type="image/webp">
                      <source
                      srcset="./images/reviews/rev3@1x.png 1x,
                              ./images/reviews/rev3@2x.png 2x,"
                      type="image/png">
                      <img
                      src="./images/reviews/olena@1x.png"
                      alt="photo Olena"
                      width="80" height="80"
                      loading="lazy">
                  </picture>
                  <div class="item-wrap">
                      <h3 class="reviews-subtitle">Olena Kampusch</h3>
                      <p class="reviews-text"> Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p>
                  </div>
              </li>
              <li class="reviews-item swiper-slide reviews-swiper-slide">
                  <picture class="reviews-photo">
                      <source
                      srcset="./images/reviews/rev4@1x.avif 1x,
                              ./images/reviews/rev4@2x.avif 2x,"
                      type="image/avif">
                      <source
                      srcset="./images/reviews/rev4@1x.webp 1x,
                              ./images/reviews/rev4@2x.webp 2x,"
                      type="image/webp">
                      <source
                      srcset="./images/reviews/rev4@1x.png 1x,
                              ./images/reviews/rev4@2x.png 2x,"
                      type="image/png">
                      <img
                      src="./images/reviews/rev4@1x.png"
                      alt="photo Natalia"
                      width="80" height="80"
                      loading="lazy">
                  </picture>
                  <div class="item-wrap">
                      <h3 class="reviews-subtitle">Natalia Sus</h3>
                      <p class="reviews-text">The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness level. </p>
                  </div>
              </li>
              <li class="reviews-item swiper-slide reviews-swiper-slide">
                  <picture class="reviews-photo">
                      <source
                      srcset="./images/reviews/rev5@1x.avif 1x,
                              ./images/reviews/rev5@2x.avif 2x,"
                      type="image/avif">
                      <source
                      srcset="./images/reviews/rev5@1x.webp 1x,
                              ./images/reviews/rev5@2x.webp 2x,"
                      type="image/webp">
                      <source
                      srcset="./images/reviews/rev5@1x.png 1x,
                              ./images/reviews/rev5@2x.png 2x,"
                      type="image/png">
                      <img
                      src="./images/reviews/rev5@1x.png"
                      alt="photo Danilo"
                      width="80" height="80"
                      loading="lazy">
                  </picture>
                  <div class="item-wrap">
                      <h3 class="reviews-subtitle">Danilo Nottingham</h3>
                      <p class="reviews-text">This is delicious. It so rich and flavorful you don&rsquo;t need to use as many. I love topping an apple with almond butter and these chips for a snack.</p>
                  </div>
              </li>
              <li class="reviews-item swiper-slide reviews-swiper-slide">
                  <picture class="reviews-photo">
                      <source
                      srcset="./images/reviews/rev6@1x.avif 1x,
                              ./images/reviews/rev6@1x.avif 2x,"
                      type="image/avif">
                      <source
                      srcset="./images/reviews/rev6@1x.webp 1x,
                              ./images/reviews/rev6@1x.webp 2x,"
                      type="image/webp">
                      <source
                      srcset="./images/reviews/rev6@1x.png 1x,
                              ./images/reviews/rev6@1x.png 2x,"
                      type="image/png">
                      <img
                      src="./images/reviews/rev6@1x.png"
                      alt="photo Irina"
                      width="80" height="80"
                      loading="lazy">
                  </picture>
                  <div class="item-wrap">
                      <h3 class="reviews-subtitle">Irina Tydnyuk</h3>
                      <p class="reviews-text">This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world class :)</p>
                  </div>
              </li>
          </ul>
          <div class="swiper-pagination"></div>
      </div>
      <button type="button" class="review-button">Leave a review
      </button>
  </div>
</section>