<section class="section subscribe-section" id="subscribe">
  <div class="container subscribe-container">
    <h3 class="title subscribe-title">exPLORE OUR NEW CHOCOLATE FIRST</h3>
    <p class="subscribe-text">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button class="subscribe-btn" type="button" data-modal-open>
      Subscribe
    </button>
  </div>

  <div class="modal-subscribe" data-modal>
    <button class="modal-btn-subscribe" data-modal-close>
      <svg class="modal-btn-close-subscribe" width="28" height="28">
        <use href="../images/icon.svg#close"></use>
      </svg>
    </button>
    <img
      class="modal-img-sub"
      src="../images/subscribe/modal-sub-desk.jpg"
      alt="Chocolate"
    />
    <form class="modal-form-subscribe">
      <strong class="title title-modal-sub"
        >Explore our
        <span class="title-orange">new chocolate</span> first!</strong
      >
      <label class="modal-lable-subscribe" for="email">Email</label>
      <input
        class="modal-input-subscribe"
        type="email"
        name="email"
        id="email"
      />
      <button class="modal-form-agreement-btn-subscribe" type="submit">
        Submit
      </button>
    </form>
  </div>
</section>
<script src="../modal.js"></script>
