<div class="container">
  <h2 class="title text-center"><span class="orange">top</span> sellers</h2>
  <ul class="sellers-list">
    <li class="sellers-item">
      <img src="/img/top-sellers/img01.jpg" alt="nuts" width="335" />
    </li>
    <li class="seller-image-text">
      <p>
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
    </li>
    <li class="sellers-item">
      <img src="/img/top-sellers/img02.jpg" alt="chocolate" width="335" />
    </li>
    <li class="sellers-item last">
      <img src="/img/top-sellers/img01.jpg" alt="chocolate-2" width="335" />
    </li>
  </ul>
  <div class="seller-button-box">
    <p>
      Crazy enough chocolate originates from a bean just like the coffee bean
      called Cacao. Cacao has been around for thousands of years and was first
      discovered by the Native American tribe called the Mayans.
    </p>
    <button class="sellers-button">Buy now</button>
  </div>
</div>
