<link rel="stylesheet" href="../css/unique-components.css" />

<section class="section">
  <div class="container">
    <h2 class="section-title">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="content-wrapper">TASTE</span> SENSATION</h2>
    <p class="components-text">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
    <ul class="list-components">
      <li class="list-components-item">
        <div class="card">
          <div class="front">
            <div class="contents">
              <img
                class="img"
                src="https://iili.io/HNvJRXS.png"
                width="224"
                height="171"
              />
              <h2 class="title">Milk chocolate</h2>
            </div>
          </div>
          <div class="back">
            <div class="contents">
              <h3 class="subtitle">Milk chocolate</h3>
              <ul class="list">
                <li>
                  <button class="btn active" type="button">chocolate</button>
                </li>
                <li>
                  <button class="btn" type="button">the benefits</button>
                </li>
              </ul>
              <p class="text">
                Milk chocolate is a solid chocolate confectionery containing
                cocoa, sugar and milk. It is the most consumed type of chocolate.
                Chocolate was originally sold and consumed as a beverage in
                pre-Columbian times. Although four-fifths of all milk chocolate is
                sold in the United States and Europe, increasingly large amounts
                are consumed in China and Latin America.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="list-components-item">
        <div class="card">
          <div class="front">
            <div class="contents">
              <img
                class="img"
                src="https://iili.io/HNvJRXS.png"
                width="224"
                height="171"
              />
              <h2 class="title">Milk</h2>
            </div>
          </div>
          <div class="back">
            <div class="contents">
              <h3 class="subtitle">Milk</h3>
              <ul class="list">
                <li>
                  <button class="btn active" type="button">milk</button>
                </li>
                <li>
                  <button class="btn" type="button">the benefits</button>
                </li>
              </ul>
              <p class="text">
                Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system,  and thus reduces the risk of many diseases. Milk contains many nutrients, including protein and lactose.
              </p>
            </div>
          </div>
        </div>
      </li>
       <li class="list-components-item">
        <div class="card">
          <div class="front">
            <div class="contents">
              <img
                class="img"
                src="https://iili.io/HNvJRXS.png"
                width="224"
                height="171"
              />
              <h2 class="title">nuts</h2>
            </div>
          </div>
          <div class="back">
            <div class="contents">
              <h3 class="subtitle">nuts</h3>
              <ul class="list">
                <li>
                  <button class="btn active" type="button">nuts</button>
                </li>
                <li>
                  <button class="btn" type="button">the benefits</button>
                </li>
              </ul>
              <p class="text">
                Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They&#39;re a good source of fiber, healthy fats, and plant protein. Plus, they&#39;re great on their own, paired with fruit, or added to dishes like salads, desserts, and grains.
              </p>
            </div>
          </div>
        </div>
      </li>
    <li class="list-components-item">
        <div class="card">
          <div class="front">
            <div class="contents">
              <img
                class="img"
                src="https://iili.io/HNvJRXS.png"
                width="224"
                height="171"
              />
              <h2 class="title">semi - sweet chocolate</h2>
            </div>
          </div>
          <div class="back">
            <div class="contents">
              <h3 class="subtitle">semi - sweet chocolate</h3>
              <ul class="list">
                <li>
                  <button class="btn active" type="button">sweechocolate</button>
                </li>
                <li>
                  <button class="btn" type="button">the benefits</button>
                </li>
              </ul>
              <p class="text-last-child">
                Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter and more mellow. This delectable flavor of chocolate is very versatile.
              </p>
            </div>
          </div>
        </div>
      </li>
  </div>
</section>
