<link rel="stylesheet" href="../css/unique-components.css" />

<section class="section">
  <div class="container">
    <ul class="list-components">
      <li class="list-components-item">
        <div class="card">
          <div class="front">
            <div class="contents">
              <img
                class="img"
                src="https://iili.io/HNvJRXS.png"
                width="224"
                height="171"
              />
              <h2 class="title">Milk chocolate</h2>
            </div>
          </div>
          <div class="back">
            <div class="contents">
              <h3 class="subtitle">Milk chocolate</h3>
              <ul class="list">
                <li>
                  <button class="btn active" type="button">chocolate</button>
                </li>
                <li>
                  <button class="btn" type="button">the benefits</button>
                </li>
              </ul>
              <p class="text">
                Milk chocolate is a solid chocolate confectionery containing
                cocoa, sugar and milk. It is the most consumed type of chocolate.
                Chocolate was originally sold and consumed as a beverage in
                pre-Columbian times. Although four-fifths of all milk chocolate is
                sold in the United States and Europe, increasingly large amounts
                are consumed in China and Latin America.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="list-components-item">
        <div class="card">
          <div class="front">
            <div class="contents">
              <img
                class="img"
                src="https://iili.io/HNvJRXS.png"
                width="224"
                height="171"
              />
              <h2 class="title">Milk chocolate</h2>
            </div>
          </div>
          <div class="back">
            <div class="contents">
              <h3 class="subtitle">Milk chocolate</h3>
              <ul class="list">
                <li>
                  <button class="btn active" type="button">chocolate</button>
                </li>
                <li>
                  <button class="btn" type="button">the benefits</button>
                </li>
              </ul>
              <p class="text">
                Milk chocolate is a solid chocolate confectionery containing
                cocoa, sugar and milk. It is the most consumed type of chocolate.
                Chocolate was originally sold and consumed as a beverage in
                pre-Columbian times. Although four-fifths of all milk chocolate is
                sold in the United States and Europe, increasingly large amounts
                are consumed in China and Latin America.
              </p>
            </div>
          </div>
        </div>
      </li>
       <li class="list-components-item">
        <div class="card">
          <div class="front">
            <div class="contents">
              <img
                class="img"
                src="https://iili.io/HNvJRXS.png"
                width="224"
                height="171"
              />
              <h2 class="title">Milk chocolate</h2>
            </div>
          </div>
          <div class="back">
            <div class="contents">
              <h3 class="subtitle">Milk chocolate</h3>
              <ul class="list">
                <li>
                  <button class="btn active" type="button">chocolate</button>
                </li>
                <li>
                  <button class="btn" type="button">the benefits</button>
                </li>
              </ul>
              <p class="text">
                Milk chocolate is a solid chocolate confectionery containing
                cocoa, sugar and milk. It is the most consumed type of chocolate.
                Chocolate was originally sold and consumed as a beverage in
                pre-Columbian times. Although four-fifths of all milk chocolate is
                sold in the United States and Europe, increasingly large amounts
                are consumed in China and Latin America.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="list-components-item">
        <div class="card">
          <div class="front">
            <div class="contents">
              <img
                class="img"
                src="https://iili.io/HNvJRXS.png"
                width="224"
                height="171"
              />
              <h2 class="title">Milk chocolate</h2>
            </div>
          </div>
          <div class="back">
            <div class="contents">
              <h3 class="subtitle">Milk chocolate</h3>
              <ul class="list">
                <li>
                  <button class="btn active" type="button">chocolate</button>
                </li>
                <li>
                  <button class="btn" type="button">the benefits</button>
                </li>
              </ul>
              <p class="text">
                Milk chocolate is a solid chocolate confectionery containing
                cocoa, sugar and milk. It is the most consumed type of chocolate.
                Chocolate was originally sold and consumed as a beverage in
                pre-Columbian times. Although four-fifths of all milk chocolate is
                sold in the United States and Europe, increasingly large amounts
                are consumed in China and Latin America.
              </p>
            </div>
          </div>
        </div>
      </li>
  </div>
</section>
