:root {
  --black: #111111;
  --deep-purple: #1e1823;
  --orange: #fd9222;
  --white: #fafafa;
  --cloud-background: #e2e2e2;
  --dark-background: #1e1823;
  --main-font: Montserrat, sans-serif;
  --secondary-font: Roboto, sans-serif;
  --items: 1;
  --col-indent: 18px;
  --row-indent: 20px;
  --hero-bg-btn-hover: #fcf1e0;
  --clear-white: #FFFFFF;
  --how-its-icon: #4C4C4C;
  --how-border-icon: #ECEDED;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --desc-light-grey: rgba(17, 17, 17, 0.7);
  --border-light-grey: rgba(17, 17, 17, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--row-indent);
  column-gap: var(--col-indent);
}

main .card-set-item {
  flex-basis: calc(
    (100% - var(--col-indent) * (var(--items) - 1)) / var(--items)
  );
}

textarea {
  resize: none;
}

button {
  display: inline-block;
  text-align: center;
  font-family: inherit;
  text-decoration: none;
  border-radius: 100px;
  border-color: transparent;
  cursor: pointer;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: calc(22 / 18);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  font-family: var(--main-font);
  background-color: var(--white);
  color: var(--black);
}

.title {
  font-weight: 600;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.title-orange-color {
  color: var(--orange);
}

.container {
  max-width: 375px;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 128px;
  }
}
