.header-container-row {
  display: flex;
}

.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  font-style: italic;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.71em;
  letter-spacing: -0.03em;
  color: var(--black);
  padding-top: 20px;
  padding-bottom: 14px;
}

@media screen and (min-width:1200px) {
  .header-logo {
    margin-right: 188px;

    padding-top: 24px;
    padding-bottom: 32px;
    font-size: 18px;
    line-height: 20px;
  }
}

.header-text {
  display: flex;
  align-items: center;
  color: inherit;
  line-height: 1.85;
  letter-spacing: 0.02em;
  text-align: center;
  font-size: 14px;
  padding-top: 24px;
  padding-bottom: 32px;
}

@media screen and (max-width:1200px) {
  .header-text {
    display: none;
  }

  .header-social-link {
    display: none;
  }
}

.header-links {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.header-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin-left: auto;
}

.header-social-link {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-svg-chocolate {
  fill: var(--white);
  stroke: var(--orange);
}

.header-svg-social {
  fill: var(--white);
  stroke: var(--black);
}