<<<<<<< Updated upstream
.header-container-row {
=======
.container-row {
>>>>>>> Stashed changes
  display: flex;
}

.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 4px;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22em;
  letter-spacing: -0.03em;
  color: var(--black);
  margin-right: 188px;
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-text {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: 14px;
  letter-spacing: -0.02em;
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-links {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.header-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin-left: auto;
}

.header-social-link {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-svg-chocolate {
  fill: var(--white);
  stroke: var(--orange);
}

.header-svg-social {
  fill: var(--white);
  stroke: var(--black);
}