.header-container-row {
  display: flex;
}

.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  font-style: italic;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.71em;
  letter-spacing: -0.03em;
  color: var(--black);
  padding-top: 20px;
  padding-bottom: 14px;
}

@media screen and (min-width:769px) {
  .header-logo {
    padding-top: 24px;
    padding-bottom: 32px;
    font-size: 18px;
    line-height: 1.11em;
  }
}

@media screen and (min-width:1200px) {
  .header-logo {
    margin-right: 188px;
    padding-top: 24px;
    padding-bottom: 32px;
    font-size: 18px;
    line-height: 20px;
  }
}

.header-text {
  display: flex;
  align-items: center;
  color: inherit;
  line-height: 1.85;
  letter-spacing: 0.02em;
  text-align: center;
  font-size: 14px;
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-links {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.header-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin-left: auto;
}

.header-social-link {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-svg-chocolate {
  fill: var(--white);
  stroke: var(--orange);
}

.header-svg-social {
  fill: var(--white);
  stroke: var(--black);
}

.header-svg-social:hover,
.header-svg-social:focus {
  fill: var(--white);
  stroke: var(--orange);
}

.header-menu-burger {
  stroke: var(--black);
  height: 14px;
  width: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

@media (min-width: 769px) {
  .header-menu-burger {
    display: none;
  }
}

.header-menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  stroke: var(--black);
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

@media (min-width: 769px) {
  .header-menu-toggle {
    top: 24px;
    right: 32px;
    stroke: var(--black);
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
  }
}

@media (min-width: 1200px) {
  .header-menu-toggle {
    display: none;
  }
}

.heder-container-burger {
  justify-content: space-between;
}

.header-mb-burger {
  position: relative;
}