.hero-image {
    background-image: linear-gradient(180deg,
            rgba(17, 17, 17, 0) 0%,
            rgba(17, 17, 17, 0.4) 100%),
        url('/images/hero/hero_mob@1x.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white);
    max-width: 335px;
    margin: 0 auto;
    border-radius: 30px;
    margin-bottom: 50px;
    border-radius: 30px;
    padding-top: 395px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-image {
        background-image: linear-gradient(180deg,
                rgba(17, 17, 17, 0) 0%,
                rgba(17, 17, 17, 0.4) 100%),
            url('/images/hero/hero_mob@2x.jpg');
    }
}

@media only screen and (min-width: 768px) {
    .hero-image {
        max-width: 704px;
    }
}

@media only screen and (min-width: 768px) {
    .hero-image {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url("/images/hero/hero_tab@1x.jpg");
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-image {
            background-image: linear-gradient(180deg,
                    rgba(17, 17, 17, 0) 0%,
                    rgba(17, 17, 17, 0.4) 100%),
                url('/images/hero/hero_tab@2x.jpg');
        }
    }
}

@media only screen and (min-width: 1200px) {
    .hero-image {
        background-image: linear-gradient(180deg,
                rgba(17, 17, 17, 0) 0%,
                rgba(17, 17, 17, 0.4) 100%),
            url('/images/hero/hero_desk@1x.jpg');
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-image {
            background-image: linear-gradient(180deg,
                    rgba(17, 17, 17, 0) 0%,
                    rgba(17, 17, 17, 0.4) 100%),
                url('/images/hero/hero_desk@2x.jpg');
        }
    }
}

@media only screen and (min-width: 1200px) {
    .hero-image {
        max-width: 1136px;
    }
}

.hero-title {
    width: 298px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (min-width: 768px) {
    .hero-title {
        flex-wrap: wrap;
        width: 484px;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.02em;
        text-align: left;
        letter-spacing: 0.02em;
        margin-bottom: 32px;
        font-weight: 500;
    }
}

@media only screen and (min-width: 1200px) {
    .hero-title {
        flex-wrap: wrap;
        width: 484px;
        font-size: 28px;
        letter-spacing: 0.02em;
        text-align: left;
        letter-spacing: 0.02em;
    }
}

.hero-button-buy {
    display: inline-block;
    text-align: center;
    font-family: inherit;
    text-decoration: none;
    font-size: 12px;
    width: 120px;
    border-radius: 100px;
    color: var(--white);
    background-color: var(--orange);
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 600;
    font-style: normal;
    padding: 12px 28px;
    margin: 0;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .hero-button-buy {
        font-size: 14px;
        width: 144px;
    }
}

.hero-button-buy:hover,
.hero-button-buy:focus {
    color: var(--orange);
    background-color: var(--hero-bg-btn-hover);
}

.hero-button-now {
    display: inline-block;
    text-align: center;
    font-family: inherit;
    text-decoration: none;
    border-radius: 100px;
    color: var(--white);
    font-weight: 600;
    background-color: transparent;
    border: 1px solid var(--white);
    cursor: pointer;
    font-size: 12px;
    padding: 12px 28px;
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

@media only screen and (min-width: 768px) {
    .hero-button-now {
        font-size: 14px;
        width: 183px;
        margin-left: -45px;
    }
}

@media only screen and (min-width: 1200px) {
    .hero-button-now {
        margin-left: 14px;
    }
}

.hero-button-now:focus,
.hero-button-now:hover {
    color: var(--orange);
    background-color: transparent;
    border-color: var(--orange);
}

.hero-button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 768px) {
    .hero-button {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    .hero-button {
        display: grid;
        grid-template-columns: min-content min-content auto
    }
}

@media only screen and (min-width: 768px) {
    .hero-container {
        position: relative;
        margin-bottom: 50px;
        border-radius: 30px;
        padding-top: 671px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }
}

@media only screen and (min-width: 1200px) {
    .hero-container {
        position: relative;
        margin-bottom: 72px;
        border-radius: 30px;
        padding-bottom: 20px;
        padding-top: 381px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

.hero-div {
    padding: 0;
    min-width: 298px;
}

.hero-scroll {
    max-width: 108px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 32px;
    margin-right: auto;
    padding: 0;
    color: var(--white);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.29;
    letter-spacing: -.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll:hover,
.hero-scroll:focus {
    color: orange;
}

.hero-scroll-svg {
    margin-left: 12px;
    width: 28px;
    height: 28px;
    padding-top: 2px;
    padding-left: 3px;
    fill: var(--orange);
    background-color: var(--white);
    border-radius: 50%;
    transition-property: color, background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll:hover .hero-scroll-svg,
.hero-scroll:focus .hero-scroll-svg {
    fill: var(--white);
    color: var(--white);
    background-color: var(--orange);
}

@media only screen and (min-width: 768px) {
    .hero-scroll {
        margin-top: 0;
        margin-left: auto;
        font-weight: 500;
        font-size: 12px;
    }
}

@media only screen and (min-width: 1200px) {
    .hero-scroll {
        margin-left: 600px;
    }
}