.hero-image {
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%),
        url("/images/hero/hero_mob@1x.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white);
    max-width: 335px;
    margin: 0 auto;
    border-radius: 30px;
    margin-bottom: 50px;
    border-radius: 30px;
    padding-top: 395px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-image {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url("/images/hero/hero_mob@2x.jpg");
    }
}

@media only screen and (min-width: 769px) {
    .hero-image {
        max-width: 704px;
    }
}

@media only screen and (min-width: 769px) {
    .hero-image {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url("/images/hero/hero_tab@1x.jpg");
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-image {
            background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url("/images/hero/hero_tab@2x.jpg");
        }
    }
}


@media only screen and (min-width: 1200px) {
    .hero-image {

        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url("/images/hero/hero_desk@1x.jpg");
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-image {
            background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url("/images/hero/hero_desk@2x.jpg");
        }
    }
}

@media only screen and (min-width: 1200px) {
    .hero-image {
        max-width: 1136px;
    }
}

.hero-title {
    width: 298px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (min-width: 1200px) {
    .hero-title {
        flex-wrap: wrap;
        width: 484px;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.02em;
        line-height: 1.67;
        text-align: left;
        letter-spacing: 0.02em;
        margin-bottom: 12px;
        font-weight: 600;
    }
}

.hero-button-buy {
    display: inline-block;
    text-align: center;
    font-family: inherit;
    text-decoration: none;
    font-size: 13px;
    border-radius: 100px;
    color: var(--white);
    background-color: var(--orange);
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 600;
    font-style: normal;
    padding: 12px 28px;
    margin-right: 14px;
}

.hero-button-buy:hover,
.hero-button-buy:focus {
    color: var(--orange);
    background-color: var(--hero-bg-btn-hover);
}

.hero-button-now {
    display: inline-block;
    text-align: center;
    font-family: inherit;
    text-decoration: none;
    border-radius: 100px;
    color: var(--white);
    font-weight: 600;
    background-color: transparent;
    border: 1px solid var(--white);
    cursor: pointer;
    font-size: 13px;
    padding: 12px 28px;
}

.hero-button-now:focus,
.hero-button-now:hover {
    color: var(--orange);
    background-color: transparent;
    border-color: var(--orange);
}

.hero-button {
    display: flex;
    justify-content: row;
}

@media only screen and (min-width: 769px) {
    .hero-container {
        position: relative;
        margin-bottom: 50px;
        border-radius: 30px;
        padding-top: 671px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }
}

@media only screen and (min-width: 1200px) {
    .hero-container {
        position: relative;
        margin-bottom: 72px;
        border-radius: 30px;
        padding-bottom: 20px;
        padding-top: 381px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

.hero-div {
    padding: 0;
    min-width: 298px;
}