.backdrop-review {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
  
    /* transition: opacity 250ms linear, visibility 250ms linear; */
}

   .backdrop-review.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }  

  .modal-review{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 517px;
    height: 631px;
  
    background-color: #fafafa;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 40px;
}

  .modal-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;

    background-color: transparent;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color:#FCF1E0;
}

.modal-btn:hover .btn-icon,
.modal-btn:focus .btn-icon {
  stroke: #FD9222;
}


.form {
	text-align: center;
	position: relative;
    display: flex;
    gap: 19px;
    flex-direction: column;
}

.modal-title{ 
    max-width: 298px;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #111111;
}
    
.modal-title span{
    color: #FD9222;
}

.input{
    height: 66px;
    width: 100%;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    padding: 22px 24px 22px;
    outline: transparent;
}

.input:hover,
.input:focus{
 border-color: #FD9222;
}

.textarea {
    width: 100%;
    height: 137px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    padding: 22px 24px 22px;
    outline: transparent;
}

.textarea:hover,
.textarea:focus{
 border-color: #FD9222;
}

.input::placeholder{
    font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;

   
   color: rgba(64, 64, 64, 0.3);
}

.textarea::placeholder{
    font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   
   color: rgba(64, 64, 64, 0.3);
}

.btn-submit{
    padding: 14px 40px;
    background: #FD9222;
    border-color: transparent;
    border-radius: 100px;
    font-size: 14px;
    line-height: 1.2;
    
    color: #FFFFFF;
    
    margin-top: 18px;
  }

.btn-submit:hover,
.btn-submit:focus {
  background-color: #FCF1E0;
  color: #FD9222;
}