.our-products-title {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 1.20;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .our-products-title {
    font-size: 24px;
    line-height: 1.18;
  }
}
.title-orange-color {
  color: var(--orange);
}
.our-products-container {
  max-width: 375px;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .our-products-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .our-products-container {
    max-width: 1200px;
    padding-right: 33px;
  }
}
.our-products-swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--clear-white);
  max-width: 335px;
  padding: 32px 52px;
  border: 1px solid var(--border-light-grey);
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .our-products-swiper-slide {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 270px;
  }
}
.our-products-subtitle {
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
}
.our-products-desc {
  font-size: 12px;
  line-height: 1.18;
  color: var(--desc-light-grey);
}
.our-products-span {
  margin-top: 18px;
  padding: 7px 20px;
  background: var(--white);
  border: inherit;
  border-radius: 100px;
  font-weight: 600;
  line-height: 1.21;
}
.swiper-pagination {
  position: static;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
.swiper-pagination {
  padding-top: 32px;
}}
.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}
.swiper-pagination-bullet-active {
  background-color: var(--orange);
  width: 28px;
  border-radius: 7px;
}
