.reviews-title {
    margin-bottom: 32px;
    text-align: center;
}
@media screen and (min-width: 768px){
  .reviews-title {
    margin-bottom: 50px;
  }    
}

.reviews-container {
  padding-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px){
  .reviews-container {
    padding-bottom: 100px;
    }
}
@media screen and (min-width: 1200px){
  .reviews-container {
    padding-bottom: 128px;
    }
}

.reviews-swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 335px;
    padding-top: 42px;

    position: relative;
}
@media screen and (min-width: 768px){
  .reviews-swiper-slide {
      max-width: 344px;
    }
}
@media screen and (min-width: 1200px){
  .reviews-swiper-slide {
      max-width: 360px;
    }
}

.reviews-photo {
    position: absolute;
    top: 42px;
    left: 50;
    transform: translateY(-50%);
    border-radius: 50%;
}

.item-wrap {
    padding: 56px 18px 42px 18px;
    background-color: var(--white);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    height: 200px;
}
@media screen and (min-width: 768px){
  .item-wrap {
    padding: 56px 16px 42px 16px;
    }
}
@media screen and (min-width: 1200px){
  .item-wrap {
    padding: 56px 24px 26px 24px;
    }
}

.reviews-subtitle {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: calc(24 \ 18);
}

.reviews-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 \ 14);
}

.review-button {
    display: flex;
    font-size: 14px;
    line-height: calc(17 \ 14);

    margin: 32px auto 0 auto;
    padding: 12px 28px;

    border: 1px solid var(--orange);
}


.swiper-pagination {
    position: static;
    padding-top: 20px;
  }
  @media screen and (min-width: 768px){
    .swiper-pagination {
      padding-top: 20px;
      }
  }
  @media screen and (min-width: 1200px){
    .swiper-pagination {
      padding-top: 20px;
      }
  }
  .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--orange);
    width: 28px;
    border-radius: 7px;
  }
  

/* .our-products-title {
    margin-bottom: 32px;
    text-align: center;
  }
  .title-orange-color {
    color: var(--orange);
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
    max-width: 335px;
    padding: 32px 52px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
  }
  
  @media screen and (min-width: 768px){
    .swiper-slide {
      padding-left: 20px;
      padding-right: 20px;
      max-width: 270px;
    }
  }
  .our-products-subtitle {
    margin-top: 8px;
    margin-bottom: 2px;
    font-weight: 600;
    line-height: 1.33;
    text-transform: uppercase;
  }
  .our-products-desc {
    font-family: var(--main-font);
    font-size: 12px;
    line-height: 1.18;
    color: rgba(17, 17, 17, 0.7);
  }
  .our-products-span {
    margin-top: 18px;
    padding: 8px 20px;
    background: var(--cloud-backgraund);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    font-weight: 600;
    line-height: 1.21;
  }
  .swiper-pagination {
    position: static;
    padding-top: 20px;
  }
  .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--orange);
    width: 28px;
    border-radius: 7px;
  }
  const swiper = new Swiper('.swiper', {
    slidesPerView: 1,
    spaceBetween: 18,
    loop: true,
    slidesToScroll: 1,
    speed: 800,
    slideToClickedSlide: true,
    pagination: {
      el: '.swiper-pagination',
      type: 'bullets',
      clickable: true,
    },
    autoplay: {
      delay: 5000,
    },
  }); */