.reviews-title {
    margin-bottom: 32px;
    text-align: center;
}
@media screen and (min-width: 768px){
  .reviews-title {
    margin-bottom: 50px;
  }    
}

.reviews-container {
  padding-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px){
  .reviews-container {
    padding-bottom: 100px;
    }
}
@media screen and (min-width: 1200px){
  .reviews-container {
    padding-bottom: 128px;
    }
}

.reviews-swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 335px;
    padding-top: 42px;

    position: relative;
}
@media screen and (min-width: 768px){
  .reviews-swiper-slide {
      max-width: 344px;
    }
}
@media screen and (min-width: 1200px){
  .reviews-swiper-slide {
      max-width: 360px;
    }
}

.reviews-photo {
    position: absolute;
    top: 42px;
    left: 50;
    transform: translateY(-50%);
    border-radius: 50%;
}

.item-wrap {
    padding: 56px 18px 42px 18px;
    background-color: var(--clear-white);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    height: 200px;
}
@media screen and (min-width: 768px){
  .item-wrap {
    padding: 56px 16px 42px 16px;
    }
}
@media screen and (min-width: 1200px){
  .item-wrap {
    padding: 56px 24px 26px 24px;
    }
}

.reviews-subtitle {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: calc(24 \ 18);
}

.reviews-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 \ 14);
}

.review-button {
    display: flex;
    font-size: 14px;
    line-height: calc(17 \ 14);

    margin: 32px auto 0 auto;
    padding: 12px 28px;

    border: 1px solid var(--orange);
    background-color: var(--white);

    transition: background-color var(--animation), color var(--animation);
}

.review-button:hover,
.review-button:focus {
    background-color: var(--orange);
    color: var(--clear-white);
}