/**
  |============================
  | sellers section
  |============================
*/

.sellers {
  padding-bottom: 84px;
}

.text-center-sellers {
  text-align: center;
  margin-bottom: 32px;
}

.orange {
  color: var(--orange);
}

.sellers-list {
  display: flex;
  flex-wrap: wrap;
}

.seller-button-box {
  display: flex;
  justify-content: center;
}

.seller-button-box p {
  display: none;
}
.sellers-list .sellers-item.last {
  display: block;
}
.sellers-list .sellers-item {
  margin-bottom: 20px;
  border-radius: 15px;
}

.sellers-list .sellers-item img {
  border-radius: 15px;
}

.sellers-list .seller-image-text {
  margin-bottom: 32px;
  color: var(--black);
}

.sellers-button {
  background-color: var(--orange);
  padding: 12px 28px;
  color: var(--white);
  align-self: start;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sellers-button:hover,
.sellers-button:focus {
  background-color: #fcf1e0;
  color: var(--orange);
}

body {
  background-color: var(--white);
}

@media only screen and (max-width: 1199px) {
  .sellers-list .sellers-item.last {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .sellers-list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .sellers-list .seller-image-text {
    display: none;
  }
  .sellers-list .sellers-item img {
    width: 344px;
  }

  .seller-button-box {
    justify-content: space-between;
  }

  .seller-button-box p {
    display: block;
    width: 306px;
  }
}

@media only screen and (min-width: 1200px) {
  .sellers-list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .sellers-list .seller-image-text {
    display: none;
  }
  .sellers-list .sellers-item img {
    width: 368px;
  }

  .seller-button-box p {
    width: 406px;
  }
}
