.components-section {
  padding-top: 72px;
}
.section-title {
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 24px;
  color: var(--deep-purple);
  max-width: 283px;
}
.components-text {
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
  color: var(--deep-purple);
}
.list-components {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.list-components-item {
  width: 100%;
  max-width: 335px;
}
.card {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 335px;
  height: 270px;
  /*  set 3d properties  */
  transform-style: preserve-3d;
  perspective: 800px;
  cursor: context-menu;
}

/* SIDES */
.card .front,
.card .back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 28px;
  border-radius: 15px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}

.card .front {
  background-color: #fd9222;
}
.card .back {
  background-color: #ffffff;
  transform: rotateY(180deg);
}
.card:hover .front {
  transform: rotateY(-180deg);
}
.card:hover .back {
  transform: rotateY(0deg);
}

/* CONTENTS */
.card .contents {
  width: 100%;
  height: 100%;
  color: #fff;
  transform: translateZ(100px) scale(0.85);
}

.card .front .img {
  margin: 0 auto;
  margin-bottom: 25px;
}
.content-wrapper {
  color: var(--orange);
}
.card .contents .title {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.card .contents .subtitle {
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #111111;
}
.card .contents .text {
  display: -webkit-box;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  overflow: hidden;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  text-overflow: ellipsis;
  color: #111111;
}
.card .contents .text-last-child {
  display: -webkit-box;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  overflow: hidden;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  text-overflow: ellipsis;
  color: #111111;
}
.card .contents .list {
  display: flex;
  align-items: center;
  gap: 6px;

  margin-bottom: 14px;
}
.card .contents .btn {
  display: block;
  padding: 6px 16px;
  font-size: 10px;
  line-height: 1.2;
  color: #111111;
  background: transparent;
  border-radius: 35px;
  border: 1px solid #fd9222;
  cursor: pointer;
  white-space: nowrap;
}
.card .contents .btn.active {
  color: #ffffff;
  background: #fd9222;
  border: transparent;
}
.card .front {
  background-color: var(--orange);
}
.list-components-item:nth-child(3) .front {
  background-color: var(--deep-purple);
}
.list-components-item:nth-child(2n) .front {
  background-color: var(--white);
  border: 1px solid var(--orange);
}
.list-components-item:nth-child(2n) .title {
  color: var(--deep-purple);
}
.list-components-item:nth-child(2n - 1) .title {
  color: var(--white);
}
@media only screen and (min-width: 768px) {
  .list-components {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .section-title {
    min-width: 411px;
    font-size: 24px;
    line-height: calc(28 / 24);
  }
  .components-text {
    max-width: 486px;
    margin-bottom: 50px;
  }
  .list-components-item:nth-child(1) {
    order: 0;
  }
  .list-components-item:nth-child(2) {
    order: 2;
  }
  .list-components-item:nth-child(3) {
    order: 3;
  }
  .list-components-item:nth-child(4) {
    order: 1;
  }
  .components-section {
    padding-top: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .list-components-item {
    max-width: 270px;
  }
  .card {
    max-width: 270px;
  }
  .list-components {
    gap: 19px;
    flex-wrap: nowrap;
  }
  .card .contents .text-last-child {
    -webkit-line-clamp: 6;
  }
  .list-components-item:nth-child(1) {
    order: 0;
  }
  .list-components-item:nth-child(2) {
    order: 1;
  }
  .list-components-item:nth-child(3) {
    order: 2;
  }
  .list-components-item:nth-child(4) {
    order: 3;
  }
  .components-section {
    padding-top: 128px;
  }
}
