.list-components {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.card {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 335px;
  height: 270px;
  transform-style: preserve-3d;
  perspective: 800px;
  cursor: context-menu;
}
.card .front,
.card .back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 28px;
  border-radius: 15px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 800ms ease-in-out;
}
.card .front {
  background-color: var(--orange);
}
.list-components-item:nth-child(3) .front {
  background-color: var(--deep-purple);
}
.list-components-item:nth-child(2n) .front {
  background-color: var(--white);
}
.list-components-item:nth-child(2n - 1) .title {
  color: var(--white);
}
.card .front .img {
  margin: 0 auto;
  margin-bottom: 25px;
}
.card .back {
  overflow: hidden;
  background-color: var(--white);
  transform: rotateY(180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}

.card:hover .front {
  transform: rotateY(-180deg);
}

.card .contents {
  width: 100%;
  height: 100%;
  transform: translateZ(100px) scale(0.85);
}
.card .contents .title {
  font-size: 14px;
  font-weight: 600;
  line-height: calc(18 / 14);
  text-transform: uppercase;
}
.card .contents .subtitle {
  margin-bottom: 8px;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black);
}

.card .contents .text {
  font-size: 14px;
  line-height: calc(18 / 14);
  color: var(--black);
}
.card .contents .list {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 14px;
}
.card .contents .btn {
  display: block;
  padding: 6px 16px;

  font-size: 10px;
  line-height: 1.2;
  color: #111111;

  background: transparent;
  border-radius: 35px;
  border: 1px solid #fd9222;
  cursor: pointer;
}
.card .contents .btn.active {
  color: #ffffff;
  background: #fd9222;
  border: transparent;
}

@media only screen and (min-width: 768px) {
}
